
html{
	scroll-behavior: smooth;
}
html.lock{
	overflow: hidden;	
}
html.lock main,html.lock footer,html.lock .ring{
	filter:blur(3px);
}
body{	
	font-family: 'Roboto', sans-serif;
	font-weight: 100;	
	color: #747373;
	background-color: #F9FAFA;
	text-align: justify;
	position: relative;	
}
header{
	background-color: white;	
	position: absolute;
	width: 100vw;
	height: 80px;	
	z-index: 2;
	transition:	all 1s ease;
}
.header_fixed{
	animation: fixedMenu 1s;
	position: fixed;	
	-webkit-box-shadow: 0px 5px 10px 2px rgba(61, 34, 80, 0.4);
	-moz-box-shadow: 0px 5px 10px 2px rgba(61, 34, 80, 0.4);
	box-shadow: 0px 5px 10px 2px rgba(61, 34, 80, 0.4);
}
@keyframes fixedMenu {
	0%{height: 0;}
	50%{height: 85px;}
	100%{height: 80px;}
} 
section{		
	padding: 32px 0;
}
h2,h3,h4,h5{
	transition:all .8s ease;
	font-weight: 700;	
}
h1._anim-items,h2._anim-items,h3._anim-items{
	transform: translate(0px,100%);
	opacity: 0;	
}
h1._active,h2._active,h3._active{
	transform: translate(0px,0px);
	opacity: 1;
}
h2{
	font-size: 3em;
	text-align: center;	
	padding-bottom: 30px;
	color: #808586;
}
@media (max-width: 768px){
	h2{font-size: 2em;}
}	
h3{	font-size: 2em;
	color: #35bde2;
	text-align: left;
}
h4{
	padding: 10px;
	font-size: 120%;
	font-weight: 700;
}
h5{
	color: #35bde2;
	font-size: 2em;
	text-align: center;
}
a{
	text-decoration: none;
	color: inherit;	
}
button, .btn{	
	display: flex;
	flex-flow: row nowrap;	
	font-size: 1.1em;	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;
	border-radius: 5px;
	background-color:#35bde2;
	border:none;
	padding: 10px 20px;
	filter: drop-shadow(0 0 0.25rem grey);
	outline: none;
	transition: all 0.5s ease;
	animation: sbs-anim-rec 1.1s infinite linear 0.000001s;
	backface-visibility: hidden;
}
@keyframes sbs-anim-rec{
	0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
      box-shadow: 0 0 0 10px rgba(0,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
button:hover, .btn:hover{
	background-color:#96dced!important;
	transition: all 0.5s ease 0s !important;	 
}
.btn-inverse{
	animation: sbs-anim-rec-inverse 1.1s infinite linear 0.000001s!important;
}
@keyframes sbs-anim-rec-inverse{
	0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
input,textarea{
	width: 100%;	
	margin: 4px 0;	
	padding: 15px 30px;
	outline: none;
	border:1px solid #22272d;
	background-color: #343b43;
}
input:hover,textarea:hover{
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
i{
	padding-right: 5px;	
	transition: all 0.5s ease; 
}
footer{
	background-color:#747373;
	color:white;
	padding:10px 0;
}
.container{
	max-width: 1450px;
	margin:0 auto;
}
@media (max-width: 1500px){
	.container{max-width: 95vw;}
}
@media (max-width: 400px){
	p{font-size: 0.9em;}
}
@media (max-width: 350px){
	p{font-size: 0.8em;}
}


.phone a, .mail a, .location a{
	transition: all 0.5s ease;
}





/*MENU*/
.nav-menu{
	display: flex;	
	flex-flow: row nowrap;
	justify-content: space-between;	
	padding: 10px 0;		
}
.logo{
	display: flex;	
	max-width: 240px;
}
.logo-small{
	display: none;
	height: 30px;	
	opacity: 0;	
}
.contacts-menu{
	margin-top: 3px;
	display: flex;
	flex-flow: row nowrap;	
}
.header_fixed .nav-menu{
	align-items: center;			
}
.header_fixed .contacts-menu{	
	align-items: center;
}
.header_fixed .logo{
	display: none;
}
.header_fixed .logo-small{
display: block;	
	opacity: 1;
}
@keyframes fixedMenuLogo {
	0%{transform: translate(0px,-100px);}
	50%{transform: translate(0px,10px);}
	100%{transform: translate(0px,0px);}
} 
.header_fixed nav{		
	animation: fixedMenuLogo 1s;		
}
.menu{
	display: flex;
	flex-flow: row nowrap;
	width: 75%;	
	justify-content: space-between;
	transition:	all 0.8s ease;
	z-index: 999;
}
.phone-mobile{
	display: none;
}
#menu-burger{
	display: none;		
	width: 30px;
	margin-left: 15px;	
}
#burger{
  display: none;  
}
.burger-label{
  position: relative;
  width: 50px;
  height: 40px;
  display: inline-block;
  margin-top:8px;  
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: left;
}
.burger-label div,
.burger-label div:before,
.burger-label div:after {
  background:#35bde2;
  position: absolute;
  height: 5px;
  width: 30px;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.burger-label div:first-child {
  top: 0px;
}
.burger-label div:nth-child(2) {
  top: 10px;
}
.burger-label div:nth-child(3) {
  top: 20px;
}
#burger + .burger-label div {
  -webkit-transition: top .15s .17s, -webkit-transform .12s .033s;
  transition: top .15s .17s, -webkit-transform .12s .033s;
  transition: top .15s .17s, transform .12s .033s;
  transition: top .15s .17s, transform .12s .033s, -webkit-transform .12s .033s;
}
#burger + .burger-label div:nth-child(3) {
  -webkit-transition: top .15s .17s, -webkit-transform .17s;
  transition: top .15s .17s, -webkit-transform .17s;
  transition: top .15s .17s, transform .17s;
  transition: top .15s .17s, transform .17s, -webkit-transform .17s;
}

#burger:checked + .burger-label div {
  top: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .1s, -webkit-transform .12s .1s;
  transition: top .1s, -webkit-transform .12s .1s;
  transition: top .1s, transform .12s .1s;
  transition: top .1s, transform .12s .1s, -webkit-transform .12s .1s;
}
#burger:checked + .burger-label div:nth-child(3) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: top .1s, -webkit-transform .17s .1s;
  transition: top .1s, -webkit-transform .17s .1s;
  transition: top .1s, transform .17s .1s;
  transition: top .1s, transform .17s .1s, -webkit-transform .17s .1s;
}
.menu-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
	margin-right: 20px;
	height: 60px;	
}
.header_fixed .menu-items{	
	align-items: center;
}
.menu-item{	
	font-size: 1.1em;
	color:#747373;	
	transition: all 0.5s ease;
	position: relative;
	margin: 0 15px;
	height: 1.4em;
	font-weight: 400;
}
.menu-item a::before{
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width:100%;
	height: 3px;
	background-color: #35bde2;
	transition: 0.2s;
	transform: scaleX(0);
}
.menu-item a:hover:before{	
	transform: scaleX(1);
}
.header-contacts{
	display: none;
}
.contacts{
	display: flex;
	flex-flow: row wrap;
	padding: 20px 0;
	margin:5px 0;
	justify-content: space-between;
	border-top:1px solid white;
	border-bottom:1px solid white; 
}
.contacts a{	
	color:#35bde2;	
}
.contacts a:hover{
	color:#747373;
}
.icon-general i::before{
	color: #35bde2;
}
@media (max-width: 1200px){
	.logo{		
		height: 70px;
	}	
	.menu-item{font-size: 1.1em;}
	.header-contacts{
		display: flex;		
		width: 100%;
	}
	.header-contacts .contacts{
		/*padding:3vw;*/
		display: flex;
		flex-flow: column; 		
	}
	#menu-burger{
		display:inline-flex;
	}
	.header_fixed #menu-burger{
		margin-top: 5px;
	}		
	.menu{
		position: fixed;		
		background-color:white; 
		top:80px;
		width: 100vw;
		right: -120%;		
		height: 100vh;
		padding: 0;	
	}
	.menu.active{		
		right: 0;
	}
	.header-contacts .wrapper-general{
		flex-flow: column nowrap;
		align-items: flex-end;
	}
	.header-contacts .icon-general{
		justify-content: flex-end;
	}
	.menu-items{
		height: 90vh;
		justify-content: center;
		flex-flow: column nowrap;
		font-size: 1.3em;
		padding: 10px 30px;
		margin-right: 0;
		align-items: flex-end;
	}
	.header_fixed .menu-items{	
	align-items: flex-end;}
	.menu-item{
		margin: 1vh;		
	}
	.menu-item.not-necessary{
		display: block;
	}
	.header-contacts .contacts{
		width: 100%;
		text-align: center;
	}
/*	.header-contacts .contacts-general{
		justify-content: flex-end;
	}*/
	.header-contacts .icons{
		align-items: center;
		display: flex;
		justify-content: center;
	}	
}
@media (max-width: 768px){	
	.logo{		
		height: 60px;
	}	
	.phone{
		display: none;		
	}	
	.phone-mobile{
		display: flex;
		color: #35bde2;		
		padding-top: 5px;
		justify-content: center;		
	}

	.header_fixed .phone-mobile{
		align-items: center;
		padding-top: 0;
	}	
	.phone-mobile i{
		font-size: 1.75em;		
	}		
	.menu-item{
		padding:0.5vh;
	}
	.header-contacts{
		font-size: 80%;			
	}

}	




/*SECTION GENERAL*/

#general{		
	height:100vh; 
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(249,250,250,1) 100%);
	z-index:1; 	
    padding: 120px 0 0;
}
.wrapper-general{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#general a:hover{	
	color: #35bde2;
}
.contacts-general{
	width: 30%;	
	display: flex;
	flex-flow: column nowrap;
	margin:15px 0 ;
}
.icon-general{
	display: flex ;
	flex-flow: row nowrap !important;
	margin:5px 0 ;
}
#general .icon-general i::before{
	color: #747373;
}
.socicons-general{
	width: 30%;
	display: flex;
	flex-flow: column ;
	align-items: flex-end;
	margin:15px 0 ;
}
.icons-text{
	text-align: right;
	margin:5px 0 ;
}
.socicons-general .icons{
	justify-content: flex-end;
	margin-top: 15px;
}
@media (max-width: 700px){
	.wrapper-general{
	flex-direction: column;
	}
	.contacts-general,.socicons-general{
		width: 100%;
		margin: 0;
	}
	#general .icons-text{
		text-align: left;
	}
	.socicons-general .icons{
		justify-content: flex-start;		
	}
	.socicons-general .icon:first-child{
		margin-left: 0;	

	}
}
.slider {
  margin: 0 auto;
  max-width: 1800px;
  height: 60vh;
}
.slide_viewer {
  height: 60vh;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}
.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  background-position: center;  
  background-size: cover; 
}
.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image:url(../img/slide-1.jpg);  
}

.slide:nth-of-type(2) {
  background-image:url(../img/slide-2.jpg);
}

.slide:nth-of-type(3) {
  background-image:url(../img/slide-3.jpg);
}

.slide:nth-of-type(4) {
 background-image:url(../img/slide-4.jpg);
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #747373;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #35bde2;
  cursor: pointer;
}

.directional_nav {
  height: 60vh;
  margin: 0 auto;
  max-width: 1800px;
  position: relative;
  top: -60vh;
}

.previous_btn {

  bottom: 0;
  left: 50px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 50px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media (max-width: 700px){
	.slider,.slide_viewer,.directional_nav{
		height: 40vh;
	}
	.directional_nav {
		top: -40vh;
	}
	.previous_btn, .next_btn {		
		height: 30px;
		width:30px;
	}
	.previous_btn svg, .next_btn svg{
		height: 30px;
		width:30px;
	}
	.previous_btn {
		left: 10px;
	}
	.next_btn {
		right: 10px;
	}
}






/*SECTION EVENTS*/



#events{	
	padding: 65px 0;	
}
.cards{
	display: flex;
	flex-flow: row nowrap;	
	justify-content: space-between;	
	color: #808586;
}
.card{
	background-color:white;
	filter: drop-shadow(0 0 0.25rem grey);
	border-radius: 5px;	 	
	display: flex;
	flex-direction: column;	
	width: 32.75%;
	transform: translate(0px,40%);
	opacity: 0;
	overflow: hidden;
	transition: all 0.8s ease 0s;	
}
.card._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.card a:hover{
	background-color:#E9F3F5;
}
.card:has(a:hover) {
    filter: drop-shadow(0 0 .75rem grey);
  }
.card-text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.card-img{
	display: block;
	height: 60%;
	width: 100%;

}
.cardh3{	
	padding: 10px 20px;	
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.cardh3 i{
	color: #35bde2;
	transform: rotate(270deg);
	font-size: .8em;
}

@media (max-width: 1200px){	
	.cards{
		flex-flow: row wrap;
	}
	.card{
		flex-direction: row;
		width: 49.5%;
		margin-left: 0;
		margin:5px 0;			
	}
	.card:nth-child(3){
		width: 100%;
	}	
}	
@media (max-width: 800px){	
	.cards{flex-direction: column;}
	.card{width: 100%;}
}
	


/*SECTION about-us*/

#about-us{	
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}
#about-us h2{
	color:#35bde2;
}
.au-anim._anim-items{
	transform: translate(0px,200px);
	opacity: 0;	
	transition: all 0.8s ease ;	
}
.au-anim._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.img-h2{
	display: flex;
	justify-content: center;
	height: 50px;
	margin:  12px 0;
}
.text-about-us._anim-items,.img-h2._anim-items{
	transform: translate(0px,200px);
	opacity: 0;	
	transition: all 0.8s ease ;	
}
.text-about-us._active,.img-h2._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.text-about-us{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:auto ;
  grid-gap: 0; 
  padding: 60px 0 ;
}
.about-us-item-1 {
	border-radius: 5px;

  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 1;
  grid-row-end: 2; 
  padding: 20vh 15% 20vh 15%;   
} 
.about-us-item-2 {	
	padding-left: 25px;
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 2; 
  display: flex;
  flex-flow: column nowrap; 
  align-items: flex-start;
  justify-content: flex-start;
} 
.about-us-img{
	background-image: url(../img/slide-1.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
} 
.about-us-item-text{
	padding-bottom: 25px;
}
.about-us-item-text p{
	padding: 10px 0;
}
.about-us-text-img{
	text-align: center;
	font-size: 1.7em;
}
@media (max-width: 1000px){	
	.text-about-us{		  
	  grid-template-columns: 100%;		   
	}
	.about-us-item-1 {		
	 display: none;
	} 
	.about-us-item-2 {	
		padding-left: 0;
	  grid-column-start: 1;
	  grid-column-end: 2; 
	  grid-row-start: 2;
	  grid-row-end: 3;  
	} 
}




/*SECTION galery*/

#gallery{   
    min-height: 60vh;    
}
#gallery-html{
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(249,250,250,1) 100%);
}
.gallery__item._anim-items{
	transform: translate(0px,200px);
	opacity: 0;	
}
.gallery-btn._anim-items{
	transform: translate(0px,100px);
	opacity: 0;	
}
.gallery__item._active,.gallery-btn._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.gallery {
	display: grid;
  max-width: 1800px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 22.2vw); 
  grid-column-gap: 10px;
   grid-row-gap: 10px; 
   padding-bottom: 25px;
} 
.gallery__img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
} 

.gallery__item{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	transition: all .8s ease;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; 
} 
.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;  
} 
.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;  
} 
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end: 3;
} 
.gallery__item--5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
} 
.gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;  
}
.gallery-btn{
	display: flex;
	justify-content: center;
	transition: all .8s ease;
}

@media (max-width: 900px){
	.gallery {
	  display: grid;
	  grid-template-columns: repeat(2, auto);
	  grid-template-rows: repeat(3, 33vw);  
	}
	.gallery__item--1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; 
} 
.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;  
} 
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;  
} 
.gallery__item--3 {
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 3;
} 
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
} 
.gallery__item--6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;  
}
}


/*SECTION reviews*/
#reviews{
	min-height: 60vh;
}
#reviews .container {
	/*height: 430px;
	margin: auto;
	width: 80%;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;*/
	/*position: absolute;*/
	/*margin: auto;*/
}
.carousel {
	width: 100%;
	float: left;
	padding: 0;
	position: relative;
	transform: translate(0px,200px);
	opacity: 0;	
	transition: all .8s ease;
}
.carousel._anim-items{
	
}
.carousel._active{
	transform: translate(0px,0px);
	opacity: 1;	
}

.carousel-box {
	position: relative;
	padding-top: 20px;
	width: calc(66.6666% - 50px);
	margin: 0 50px 20px 0;
	overflow: hidden;
	height: 100%;
	font-size: 0;
	white-space: nowrap;
	display: inline-block;
	float: left;
	direction: rtl;
}
.carousel-box__item {
	display: inline-block;
	vertical-align: bottom;
	white-space: normal;
	position: relative;
	font-size:inherit;
	width: 25%;
	margin-bottom: 20px;
}
.carousel-box__item_img{
	width: calc(100% - 35px);
	margin-right: 37px;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
	height: 414px;
}
.carousel-box__item_img i{
	width: 100%;
	float: left;
	cursor: pointer;
	height: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
    max-width: inherit;
    position: relative;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    background-position: center 0;
	top: 155px;
}
.carousel-box__item:first-child .carousel-box__item_img i{
	top: 0px;
}
.carousel-box__item_img:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}
.carousel-box__item_img:active{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	transform: scale(0.95);
}
.carousel-box__item_desc {
	visibility: hidden;
	font-weight: 900;
	padding-top: 20px;
	line-height: 19px;
	display: none;
	float: left;
	width: calc(100% - 35px);
	font-size: 12px;
	font-family: sans-serif;
}
.carousel-box__item_desc:before {
    display: block;
    content: "";
    height: 2px;
	margin-bottom:8px;
    width: 0%;
    background-color: #8BC34A;
    transition: width .3s ease-in-out;
}
.carousel-box__item_img:hover + span:before,
.carousel-box__item_img:focus + span:before {
    width: 100%;
}
.carousel-content{
	width: 25%;
	height: 414px;
	padding-top: 20px;
    position: relative;
	display: inline-block;
    float: left;

}
.carousel-content__name{
	margin-bottom: 5px;
}
.carousel-content__who {
	color: #9e9e9e;
	margin-bottom: 15px;
}
.carousel-content__review{
	font-size: 15px;
	line-height: 1.4;
}
.carousel-arrow{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.carousel-arrow__prev, .carousel-arrow__next {
	position: absolute;
	bottom: 40px;
	cursor: pointer;
	margin: auto;
	width: 50px;
	height: 50px;
	background-color: #35bde2;
	border-radius: 100%;
	line-height: 50px;
	text-align: center;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    filter: drop-shadow(0 0 0.25rem grey);
}
.carousel-arrow__prev:hover, .carousel-arrow__next:hover{	
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
.carousel-arrow__prev:active, .carousel-arrow__next:active{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}
.carousel-arrow__prev:after, .carousel-arrow__next:after, .carousel-arrow__prev:before, .carousel-arrow__next:before{
	content: "";
	width: 12px;
	height: 2px;
	position: absolute;
    background-color: #fff;
    top: 20px;
    left: 20px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.carousel-arrow__prev:after, .carousel-arrow__next:before{
	top: 28px;
	left: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.carousel-arrow__prev {
	right: calc(33.333% - 50px);
}
.carousel-arrow__next {
	left: 0;
	display: none;
}
@media only screen and (max-width: 991px) {
	.carousel-box__item{
		width: 33.33333%;
	}
}
@media only screen and (max-width: 768px) {
	.carousel-box__item{
		width: 50%;
	}
	.carousel-box{
		width: calc(45% - 15px);
		margin-right: 15px;
	}
	.carousel-content{
		width: 55%;
	}
	.carousel-arrow__prev{
		right: calc(55% - 50px);
	}
}
@media only screen and (max-width: 640px) {
	.carousel-box__item{
		width: 100%;
	}
	.carousel-box__item_img{
		width: calc(100% - 15px);
		margin-right: 15px;
	}
}















/*HTML MAP*/
#map{
	padding-bottom: 0;
}
#map iframe{
	width: 100%;
	display: block;
	height: 40vh;
}



#subscriptions-html h2,
#certificates-html h2,
#akciya-html h2,
#contacts-html h2,
#ruls-html h2,#gallery-html h2{
	padding-top: 80px;
}

/*HTML Абонементы*/
#subscriptions-html{
	min-height: 100vh;
	padding-bottom: 25px;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(249,250,250,1) 100%);
}
.subscriptions{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 25px;
}
.subscription{
	display: flex;
	width: 31%;	
	border-radius: 5px;
	height: 30vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;		
}
.subscription:nth-child(1){
	background-image: url(../img/subscriptions-01.jpg);
}
.subscription:nth-child(2){
	background-image: url(../img/subscriptions-02.jpg);
}
.subscription:nth-child(3){
	background-image: url(../img/subscriptions-03.jpg);
}
#subscriptions-html p{
	padding: 15px 0;
	text-align: center;
}
#subscriptions-html span{
	font-weight: 700;
	text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
	.subscriptions{
		flex-flow: column nowrap;
	}
	.subscription{
		width: 100%;
		margin-bottom: 10px;
	}
}


/*HTML Подарочные карты*/
#certificates-html{
	min-height: 100vh;
	margin-bottom: 25px;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(249,250,250,1) 100%);
}
.certificates{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 25px;
}
.certificate{
	display: flex;
	width: 31%;	
	border-radius: 5px;
	height: 30vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;		
}
.certificate:nth-child(1){
	background-image: url(../img/cards-01.jpg);
}
.certificate:nth-child(2){
	background-image: url(../img/cards-02.jpg);
}
.certificate:nth-child(3){
	background-image: url(../img/cards-03.jpg);
}
#certificates-html p{
	padding: 15px 0;
	text-align: center;
}
#certificates-html span{
	font-weight: 600;
	text-transform: uppercase;	
}
@media only screen and (max-width: 768px) {
	.certificates{
		flex-flow: column nowrap;
	}
	.certificate{
		width: 100%;
		margin-bottom: 10px;
	}
}
.cards-img{
	width: 100%;
	border-radius: 5px;
	margin: 15px 0; 
}




/*akciya-html*/
#akciya-html{
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(249,250,250,1) 100%);
}




/*HTML Контакты*/

#contacts-html{
	min-height: 50vh;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(249,250,250,1) 100%);
}
#contacts-html a:hover{	
	color: #35bde2;
}
#contacts-html .icon-general i::before{
	color: #747373;
}
@media (max-width: 700px){	
	#contacts-html .icons-text{
		text-align: left;
	}	
}
/*.proezd{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.proezd-1,.proezd-2{
	display: flex;
	width: 48%;
	height: 30vh;
	background: #808586;
	border-radius: 5px;	
}
@media only screen and (max-width:900px) {
	.proezd{
	flex-direction:  column ;
	}
	.proezd-1,.proezd-2{
	width: 100%;
	margin:0 0 15px 0;
	}
}*/




/*HTML Правила посещения*/

#ruls-html{
	min-height: 50vh;
	padding-bottom: 10vh;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(249,250,250,1) 100%);
}
#ruls-html ol{
   counter-reset: li;
   list-style: none;
   margin: 30px 15px;  
}
#ruls-html .list>li:before {
   font-size: 2em;
    color: #808586;
    text-align: left;
    font-family: 'helvetica';
}
#ruls-html li{
	display: flex;
	flex-flow: row wrap;
	align-items:  flex-start;
}
#ruls-html h3{
	width: 95%;
	text-align: left;
	color: #808586;
}
#ruls-html li:before {
   counter-increment: li;
   content: counters(li, ".") ". ";
   width: 50px;  
}
#ruls-html .sublist li {
   display: flex;
   flex-flow: row nowrap;
   width: 100%;
}
#ruls-html .list p{
   display: inline-block;
   padding: 5px 28px 5px 5px;
   margin: 5px 0;
   width: 100%;
}

.sublist>li:before {
   padding: 5px;
   margin: 5px 0;
}

@media only screen and (max-width: 1087px) {
	#ruls-html li:before {
		width: 40px;  
	}
	#ruls-html h3{
		width: 90%;
}
}
@media only screen and (max-width: 665px) {
	#ruls-html ol{
		margin: 10px 0;  
	}
	#ruls-html h3{
		width: 80%;
		font-size: 1.5em;
	}
	#ruls-html .list>li:before{
		font-size: 1.5em;
	}
}







/*FOOTER*/

#contacts a{
	color: white;
}
#contacts a:hover{
	color: #35bde2;
}
#contacts .icon-general i::before{
	color: white;

}
.contacts-1{
	width: 30%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.contacts-2{
	width:50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
}
.contacts-2 .contacts-general{
	width: 100%;
	align-items: flex-end;
}
.contacts-2 .socicons-general{
	width: 100%;
	margin: 0;
}
.footer-txt{
	display: flex;
	flex-flow: column;
	margin: 5px 0;
}
.icons{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.icon{	
	font-size: 3.5em;
	margin:0 5px;	
}

.icon:last-child{
	margin-right: 0;
}
.icons{
	font-size: .7em;
}
.copyright{
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 5px;
}
.web-design-for-you{
	color:white;
	padding-left: 5px;
}
.web-design-for-you{	
	font-weight: 700;
	transition: 0.5s ease;
}
.web-design-for-you svg{
	width: 12px;
}
.web-design-for-you:hover{	
	color:#35bde2;
}
.web-design-for-you:hover svg{	
	animation-name: anim;
	-webkit-animation-name: anim;
	animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes anim {
	0% {
		transform: scale(0.8);
	}		
	70% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);		
	}
}

@media (max-width: 1200px){
	.telephones,.mail{
		flex:1 1 50%;
	}
	.socicons{
		text-align: left;
		margin-top: 15px;		
	}
	.socicons .contacts-title{
		margin-bottom: 0;
	}			
	.icons{
		justify-content: flex-start;
	}
}	
@media (max-width: 768px){
	footer .contacts{		
		font-size: 110%;
		padding: 0;
		flex-direction: column;
	}
	.contacts-1{
		width: 40%;
	}
	.icons{
		margin: 15px 0;
	}
	footer .contacts{
    flex-direction: row;}
    footer .icons-text{
    	text-align: right;
    }
    footer .socicons-general .icons{
    	justify-content: flex-end;
    }
}
@media (max-width: 600px){
	footer .contacts{		
		flex-direction: column;
	}
	.contacts-1{
		width: 100%;
	}
	.contacts-2{
		width: 100%;
	}
	.contacts-2 .contacts-general{
		align-items: flex-start;
	}
	footer .icon-general{
		justify-content: flex-start;
	}		
    footer .icons-text{
    	text-align: left;
    }
    footer .socicons-general .icons{
    	justify-content: flex-start;
    }
}


/*button UP*/

.up{
	width: 72px;
	height: 72px;
	background-color: #35bde2;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	right: 2.5vw;
	bottom: 45px;
	transition: all .5s ease;
	z-index: 1;
	border-color: transparent;
	opacity: 0.5;
	display: none;
	padding-top:18px; 
}
.up-show{
  display: block;
}
.up svg{
	width: 36px;
	height: 36px;
	color: white;
}
.up:hover{
	opacity: 1;
}
@media (max-width: 800px){
	.up-show{display: none;}
}






















