
html{
	scroll-behavior: smooth;
}
html.lock{
	overflow: hidden;	
}
html.lock main,html.lock footer,html.lock .ring{
	filter:blur(3px);
}
body{	
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: justify;
	position: relative;	
}
header{
	background-color: #1d1c1d;
	position: fixed;
	width: 100vw;
	/*height: 54px;	*/
	z-index: 2;
}
section{		
	padding-top: 55px;
}
h1,h2,h3,h4,p{
	transition:all 1.5s ease;
}
h1._anim-items,h2._anim-items,h3._anim-items,h4._anim-items,p._anim-items{
	transform: translate(0px,120%);
	opacity: 0;	
}
h1._active,h2._active,h3._active,h4._active,p._active{
	transform: translate(0px,0px);
	opacity: 1;
}
h1{
	font-size: 1.5em;
	  color:white;
}
h2{
	font-family: 'Monoton', cursive;
	font-size: 3em;
	text-align: center;	
	padding-bottom:15px;
	text-transform: uppercase;
    font-weight: 100;	
}
@media (max-width: 768px){
	h2{font-size: 2em;}
}	
h3{ font-size: 1.2em;
	color: white;
	text-align: center;
	font-weight: 600;
}
h4{	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
}
h5{
	font-weight: 400;
}
a{
	text-decoration: none;
	color: inherit;	
}
input,textarea{
	width: 100%;	
	margin: 10px auto;	
	padding: 15px 30px;
	outline: none;	
	background-color: white;
}
@media (max-width:550px){
	input,textarea{
	padding: 10px 10px;	
}
}
input:hover,textarea:hover{
	box-shadow: 0 0 10px rgba(255,255,255,1);
}
i{
	padding-right: 5px;
	font-size: 80%;
}
footer{
	background-color:#1d1c1d;
	color:white;
	padding:10px 0;
}
button{
	border:1px solid white;
	padding:10px 30px;	
	margin-right:15px; 
	font-weight: 800;
	transition: all .7s ease;
	background-color: #1d1c1d;
	color:white;
	text-transform: uppercase;
}
button:hover{
	background-color: white;
	color:#1d1c1d;	
}
.container{
	max-width: 1200px;
	margin:0 auto;
}
@media (max-width: 1250px){
	.container{max-width: 95vw;}
}
.outline {
    font-family: 'Monoton', cursive;
    font-weight: 100;
}



/*MENU*/
.nav-menu{
	display: flex;	
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;	
	padding: 0;		
}
.logo{	
	fill:#fa7611;
}
.logo-rect{
	fill:#1d1c1d;
	height: 35px;	
}
.contacts-menu{
	display: flex;
	flex-flow: row nowrap;
	
	align-items: center;
	justify-content: flex-end;
}
.contacts-menu .mail, .contacts-menu .telegram,.contacts-menu .phone{
	width: 50px;
}
@media (max-width:1000px){
	.contacts-menu{
		width: 30%;
	}
}
@media (max-width:800px){
	.contacts-menu{
		width:40%;
	}
}
@media (max-width:550px){
	.contacts-menu{
		width:60%;
	}
}
.mail,.telegram,.phone{	
	display: flex;
	fill: white;	
	transition:	all 0.3s ease;
	align-items: center;
	justify-content: center;
}
.phone a{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.mail-icon,.telegram-icon,.phone-icon{
	display: flex;
	height: 25px;
	align-items: center;
}
.mail:hover,.telegram:hover,.phone:hover{
	fill: #fa7611;
	color: #fa7611;
}
.question{	
	display: block;
	text-align: right;
	max-width: 50%;
	padding: 0 10px;
}
.menu{
	display: flex;
	flex-flow: row nowrap;
	padding: 0 4vw 0 0;
	justify-content: space-between;
	transition:	all 0.8s ease;
	z-index: 999;
}
#nav-icon1{
	display: none;
}
.phone-number{
		font-weight: 700;
}
@media (max-width: 1200px){
	#nav-icon1 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 21px;
    position: relative;
    margin: 5px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
    top: 0px;
}
#nav-icon1 span:nth-child(2) {
    top: 9px;
}
#nav-icon1 span:nth-child(3) {
    top: 18px;
}
#nav-icon1.open span:nth-child(1) {
    top: 9px;
    transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -30px;
}
#nav-icon1.open span:nth-child(3) {
    top: 9px;
    transform: rotate(-135deg);
}
}
.menu-items{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	margin-right: 20px;
}
.menu-item{
	font-size: 1.1em;
	color:white;	
	transition: all 0.5s ease;
	position: relative;
	margin: 0 15px;
}
 .menu-item a::before{
	content: '';
	bottom: -4px;
	left: 0;
	position: absolute;	
	width:100%;
	height: 2px;
	background-color: #fa7611;
	transition: 0.2s;
	transform: scaleX(0);
}
#nav-menu .menu-item a:hover:before{	
	transform: scaleX(1);
}
.header-contacts{
	display: none;
}
.question-mobile{
	display: none;
}
@media (max-width: 1200px){	
	.phone-number{
		display: none;
	}
	.phone a{
		direction: column;
	}
	.header-contacts{
		display: flex;
		color: white;
		width: 100%;
	}
	.header-contacts .contacts{
		padding:3vw;
		display: flex;
		flex-flow: column; 		
	}
	.burger{
		display:inline-flex;
	}		
	.menu{
		position: fixed;		
		background-color:rgba(29, 28, 29, 0.8);
		top:55px;
		width: 100%;
		right: -100%;		
		height: 100%;
		padding: 0;	
	}
	.menu.active{		
		right: 0;
	}
	.menu-items{
		height: 90vh;
		justify-content: center;
		text-align: center;
		flex-flow: column nowrap;
		font-size: 1.3em;
		padding: 10px 30px;
		margin-right: 0;
		align-items: center;
	}
	.menu-item{
		margin: 2vh;		
		font-size: 120%;
		color:white;			
	}
	.menu-item.not-necessary{
		display: block;
	}
	.header-contacts .contacts{
		width: 100%;
		text-align: center;
	}
	.header-contacts .icons{
		align-items: center;
		display: flex;
		justify-content: center;
	}	
}
@media (max-width: 768px){	
	.menu-item{
		padding:0.5vh;
		font-size: 1em;
	}

	.menu-items .footer-phone, .menu-items .footer-mail,.menu-items .footer-telegram{
		margin: 0;
	}
	.header-contacts{
		font-size: 80%;			
	}
}	




/*SECTION GENERAL*/
#general{	
	min-height:100vh; 
	padding-top: 55px;
	z-index:1; 
	background-color: #1d1c1d;		
}
#general .container{
	height: 90vh;
	display: flex;
	justify-content:  center;
}
.general-container{
	display: flex;
	flex-flow: column nowrap;	
	justify-content: space-around;
}
.logo-general{
	max-height: 500px;
	height: 50vh;
	display: flex;

}
.video{	
	display: flex;
	justify-content: center;
}
.video-media{	
	height: 50vh;
	width:  auto;	
}
@media (max-width: 768px){
	.video-media{	
		height: auto;
		width:  90vw;	
	}
}
.text-general{	
	display: flex;
	flex-flow: column nowrap;
	color:white;	
	font-size: 1.2em;	
	justify-content:  center;
	text-align: center;
}
.text-general p{
	margin: 25px 0;	
}
.buttons{
	display: flex;	
	margin-top: 25px;
	justify-content: center;
	transform: translate(0px,120%);
	opacity: 0;	
	transition:all 1.5s ease;
}
.buttons._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.button{
	background-color:#fa7611;
	color:#1d1c1d;
	border:1px solid #fa7611;
	padding:10px 30px;	
	margin-right:15px; 
	font-weight: 800;
	transition: all .7s ease;
	text-transform: uppercase;
	border-radius: 4px;
	display: block;
}
.button:hover{
	background-color: #1d1c1d;
	color:white;	
	border-color: white;
}





/*SECTION ABOUT_US*/
#about_us{		
	padding-top: 0;
}
.text-aboute-us{
	width: 100%;
	border-radius: 5px;
	background-color: #fa7611;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	padding: 50px 40px;
	margin: 5vh 0 20px  0;
	text-align: center;	
	transform: translate(0px,100%);
	opacity: 0;
	transition: all 0.8s ease;	
}
.text-aboute-us._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.cards{
	display: flex;
	flex-flow: row nowrap;	
	justify-content: space-between;	
	color: #1d1c1d;
}
.card{
	background-color: #fa7611;
	color: white;
	border-radius: 10px;	
	padding: 30px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	width: 32%;
	transform: translate(0px,40%);
	opacity: 0;
	transition: all 0.8s ease ;	
}
.card:first-child{
	margin-left: 0;
}
.card:last-child{
	margin-right: 0;
}
.card._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.card:hover,.text-aboute-us:hover{
	transform: translate(-3px, -3px) ;
}
.card-text{
	display: flex;
	flex-flow: column;
	align-items: flex-start;	
}
.card-img{
	display: flex;
	justify-content: center;
}
.card-img svg{
	height: 90px;
	padding-bottom: 20px;
	fill: white;
}
.card-text 	p{
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: left; 
	
}
@media (max-width: 1000px){
	#about_us{
		padding: 20px 0;
	}	
}
@media (max-width: 768px){	
	.cards{
		flex-flow: row wrap;
	}
	.card{width: 100%;
		/*padding: 20px 10px;*/
		margin: 10px 0;
	}
	.card:first-child{
		margin-top: 0;
	}	
}
@media (max-width: 500px){	
	.card{width: 100%;}	
}
	



/*SECTION EXPERTs*/

.experts{       
    padding-bottom: 5vh;
    color: #1d1c1d;    
}
.experts-text{
	text-align: center;
	padding-top: 20px;
}
.experts-text-container{
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	border: solid 1px #1d1c1d;
	border-radius: 5px;
	padding: 20px;
	margin: 20px 0;
	transition: all 1.5s ease;
}
.slider {
  position: relative;
  width: 100%;
 /* height: 100vh;
  margin: 50px auto 0;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
  transform: translate(0px,40%);
	opacity: 0;
	transition: all 0.8s ease ;
}
.slider._active{
	transform: translate(0px,0px);
	opacity: 1;
}
/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.slider img {
  poiner-events: none;
}

.slider-list {
  width: 100%;
 /* height: 200px;*/
  overflow: hidden;
}

/*.slider-list.grab {
  cursor: grab;
}*/

/*.slider-list.grabbing{
  cursor: grabbing;
}
*/
.slider-track {
  display: flex;
}

.slide {
  width: 15%;
  /*height: 200px;*/
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */  
}
.slide:hover{	
	filter: drop-shadow(0 0 0.75rem #e8ba65);
}
@media (max-width:950px){	
	.slide{	
	width: 20%;
	}
}
@media (max-width:700px){	
	.slide{	
	width: 30%;
	}
}
.experts-text-container._anim-items{
	transform: translate(0px,120%);
	opacity: 0;	
}
.experts-text-container._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.experts-text-slider{
	display: flex;
	flex-flow: row nowrap;
	/*overflow: hidden;*/	
}
.experts-card{	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 10px	;
	justify-content: space-between;
}
.experts-card img{	
	max-width: 120px;
}
.experts-card p{	
	padding-top: 10px;
	text-align: center;
}
@media (max-width: 700px){	
	.experts-card img{	
	max-width: 20vw;
	}
}
.swipe-text{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;	
	align-items: center;
	justify-content: flex-end;
	font-size:.7em; 
	padding-top: 10px;
}
.swipe-text svg{
	width: 25px;
	padding-right: 5px;
}
.experts-content{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	border: solid 1px #1d1c1d;
	border-radius: 5px;
	padding: 30px 20px;
	margin-top: 20px;
}
.exrerts-content-title{
	display: block;
	color: #929292;
	margin-bottom: 15px;
}
.tabs-item ul{
	display: flex;
	flex-flow: column wrap;
}
.tabs-item li{
	list-style-type:disc;
	margin-left: 40px;
	padding: 5px 0;
}



/*SECTION our-benefits*/

#our-benefits{
	color: white;
	background-color: #1d1c1d;
	padding: 85px 0 65px;
}
#our-benefits h2{
	padding: 0;
}
#our-benefits h3{
	padding-top: 20px;
}
.icons-container{
	display: flex;
	flex-flow: row wrap;
	padding: 20px 15px 30px 15px;
	transition: all 1.5s ease;
}
.icon{
	width: 25%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding:1vh 5vw;
	text-align: center;
}
.icons-container._anim-items{
	transform: translate(0px,30%);
	opacity: 0;	
}
.icons-container._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.icon svg{
	fill: white;
	width: 100px;
	margin: 0 auto;
	padding: 20px 0;
}
@media (max-width: 1000px){
	.icon svg{	
	width: 70px;	
}
}
@media (max-width: 1200px){
	.icon{
	padding:.75vh 3vw;	
}
}
@media (max-width: 700px){
	.icon{
	padding:.5vh 1vw;
	width: 50%;	
}
.icon svg{	
	width: 60px;	
}
}




/*SECTION COAST*/
#coast{
	min-height: 15vh;
	color:#1d1c1d;
	padding:10vh 0;
}
#coast h3{
	color:#1d1c1d;
}





/*SECTION WORKFLOW*/
.workflow{   
    background-color: #1d1c1d;
}
.accordeon{
	width: 100%;
	padding-bottom:20px;	
}
.accordeon-header{
	height: 8vh;
	text-transform: uppercase;
	transition: all 1.5s ease 0s !important;
} 

#workflow .accordeon-header._anim-items{
	transform: translate(0px,120%);
	opacity: 0;	
}
#workflow .accordeon-header._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.dropdown {
	width: 15px;
	margin-left: 20px;
	transition: all 0.3s ease;
}
.in .dropdown{
	transform: rotate(-90deg);
}
@media (max-width: 1000px){
	.accordeon-header{height: 10vh;}
}
h4.accordeon-header{
	display: flex;
	align-items: center;	
	padding: 15px 30px;
	background-color:white;
	color: #1d1c1d;
	margin: 10px 0;
	transition: all 0.3s ease;	
}
.accordeon-header:hover, .accordeon-header.in{
	transform: scale(1.02,1.1);	
}
.accordeon-header span{
	font-size: 2em;
	color:#fa7611;
	font-weight: 700;
	padding-right: 25px;
	animation-name: scale;
	animation-duration: 2s;
	animation-timing-function: linear;	
	animation-iteration-count: infinite;
}
@keyframes scale{
	0% { transform: scale(1); }
	25% { transform: scale(1.4); }
	50% { transform: scale(1); }
	75% { transform: scale(1.4); }
    100% { transform: scale(1); }
}
.accordeon-content{
	display: none;
	background-color:#fa7611;	
	padding: 7vh;
	margin: 10px;	
	color:white;
}
.accordeon-content.in{
	display:flex;
}
.accordeon-content-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items:  center;
}
#workflow .accordeon-content-container{
	width: 100%;	
	}
.accordeon-text{
	padding:10px 25px 10px 15px;
	width: 80%;
}
.accordeon-img{
	width: 10%;	
}
.accordeon-img svg{
	fill:white;
	height: 50px;	
}
#workflow h3{
	padding: 5vh;
}

@media (max-width: 600px){
	h4.accordeon-header{font-size: 1em;
		justify-content: space-between;}
	svg.dropdown {font-size: 1.5em;}

	.accordeon-content{
	padding: 2vh 0;		
	}	
	.accordeon-content-container{
		flex-direction: column-reverse;
	}
	.accordeon-img{
		padding: 15px;
	}
	.accordeon-text{
		padding: 15px 0 ;
	}
	#workflow .accordeon-img{
		width: 30%;
	}
}







/*SECTION search
*/
#search{
	color: white;
	background-color: #1d1c1d;
	padding:0 0 55px;
}
#search h5{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 25px;
}
.logotypes{
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
}
.logo svg{
	height:30px;
	padding:5px 20px;
}
.run-stroke{
	overflow: hidden;
}












/*SECTION our-team
*/
#our-team{
	color:#1d1c1d;
	padding-bottom: 55px;
}

.comand{
	display: flex;
	flex-flow: row wrap;
	padding: 25px auto;
	justify-content: space-around;
	margin: 20px 0;
	transition: all 1.5s ease;
	transform: translate(0px,40%);
	opacity: 0;
}
.comand._active{
	transform: translate(0px,0px);
	opacity: 1;
}
.comand-card{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	text-align: center;
	padding: 10px 25px;
	align-items: center;
}
@media (max-width: 768px){
	.comand-card{
		padding: 10px;
	}	
}
.our-team-p{
	padding-top: 25px;
}

.comand-card-img img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
@media (max-width: 500px){
	.comand-card{
		width: 45%;
	}
	.comand-card-img img {
    height: auto;   
  }
}









/*SECTION FEEDBACK*/

#feedback{	
	background-color: #1d1c1d; 
	padding-bottom: 20px; 
}

#feedback .accordeon{
	border:solid 1px white;
	border-radius: 5px;
	padding-bottom: 0;
	margin-bottom: 20px; 
}

#feedback .accordeon-header:hover, #feedback .accordeon-header.in{
	transform: none;);	
}
#form-accordeon{
	background-color: #1d1c1d;  
	color:white;	
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 270px;
	justify-content: space-between;
}
.feedback-form{
	width: 100%;
}
@media (max-width: 750px){
	#form-accordeon{
	flex-flow: column nowrap;
	height: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;	
}}
.accordeon-img{
	width: 50%;
	text-align: center;	
}
.accordeon-img img{	
	height: 180px;
}
.accordeon-form-link{
	display: flex;
	width: 50%;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
}
@media (max-width: 750px){	
	.accordeon-form-link{	
	width: 100%;
}	
}
.accordeon-form-link p{
	font-size: 1em;
	text-transform: none;
	padding: 30px 15% ;
}
.accordeon-form-link .button{	
	margin: 0 25%;
}
.accordeon-form-link .button:hover{
	background-color: white;
	color:#1d1c1d;
}
.content{
	display: none;	
	width: 80%;
	justify-content: center;
	margin: 0 auto;	
	padding-bottom: 20px;
}
.content2{
	display: none;
	padding-bottom: 20px;
}
@media (max-width: 750px){
	.content{
		width: 100%;
		}
}
.accordeon-content-container{
	width: 80%;
	margin: 0 auto;
}
@media (max-width: 550px){
	.accordeon-content-container{
		width: 90%;	
	}
}
.accordeon-buttons{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}



/*FOOTER*/
.contacts{
	display: flex;
	flex-flow: row wrap;
	padding: 20px 0;
	margin:5px 0;
	justify-content: space-between;
	border-top:1px solid white;
	border-bottom:1px solid white;
}
.footer-logo,#footer-menu,.telephone,.mail,.telegram{
	width: 20%;	
}
.footer-logo .video-media{
	height: 300px;	
}
@media (max-width: 1200px){
	.footer-logo .video-media{
	height: 150px;	
	}
}
@media (max-width: 1200px){
	.footer-logo .video-media{
	height: 250px;	
	}
}
#footer-menu .menu{
	height: 100%;	
}
#footer-menu .menu-items{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;	
}
.contacts a{
	transition: all 0.5s ease;
}
.contacts a:hover{
	color:#fa7611;
}
.contacts-title{
	margin-bottom: 15px;
	color:#fa7611;
	font-size: 1.2em;
}
.f-mail,.f-phone,.f-telegram{
	height: 15px;
	padding-right: 4px;	
	fill:#fa7611;
}
.footer-phone,.footer-mail,.footer-telegram{
	display: flex;
	flex-flow: column;	
}
.footer-telegram{
	align-items: flex-end;
}
.copyright{
	font-size: 0.9em;
	padding-bottom: 5px;
}
.web-design-for-you{	
	font-weight: 700;
	transition: 0.5s ease;
}
.web-design-for-you svg{
	width: 12px;
}
.web-design-for-you:hover{	
	color:#fa7611;
}
.web-design-for-you:hover svg{	
	animation-name: anim;
	-webkit-animation-name: anim;
	animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes anim {
	0% {
		transform: scale(0.8);
	}		
	70% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0.8);		
	}
}
@media (max-width: 1200px){
	#footer-menu{
		display: none;
	}
	.header-contacts .footer-telegram{
		align-items: center;
	}
	.header-contacts .contacts-title{
		margin: 0;
	}
	.header-contacts .footer-phone,.header-contacts .footer-mail,.header-contacts .footer-telegram{
		padding-bottom: 15px;
	}
@media (max-width: 768px){
	.contacts{		
		font-size: 110%;
		padding: 0;
		flex-direction: column;
		align-items: center;
	}
	.footer-logo,.footer-phone,.footer-mail,.footer-telegram{		
		align-items: center;
		margin: 15px 0;	
	}
	.footer-logo{
		width: 100%;
	}
	.contacts-title{
		margin: 0;
	}
	.footer-logo svg{
		margin: 10px 0;
		display: flex;
		width: 100%;
		align-items: center;
	}	
}




/*POPUP*/

#popup{
	z-index: 3;
}
.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}
.popup.open{
	opacity: 1;
	visibility: visible;	
}
.popup.open .popup__content{
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup__area{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.popup__body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content{
	width:100%;
	max-width: 500px;
	background-color:#1a1f25;
	color:white;
	padding: 40px 60px ;	
	position: relative;
	opacity: 0;
	transform: translate(0px, -100%);
	transition: all 0.8s ease 0s;
}
.popup__close{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background-color: white;
	position: relative;
	border-radius: 50%;
	transition: 1s;
	margin-top: -15px;
	margin-right: -35px;
}
.popup__close span,.popup__close span::before{
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #7a7a7a;
	top: 50%;
	margin-top:-1px;
	left: 50%;	
	margin-left:-10px;
	display: block;	
	transform: rotate(45deg);
}
.popup__close span::before{
	content: '';
	display: block;
	transition: 0.5s;
	transform: rotate(90deg);
}
.popup__close:hover{
	transform: rotate(360deg);
}
.popup__title{
	margin-bottom: 1em;
	font-size: 1.2em;
	text-align: center;
}
.popup-image-container{
	width: 100%;
	display: flex;
	align-items: center;
	padding:40px 10%;
	justify-content: center;
}
.popup-image-fon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.animation{
	display: flex;
	justify-content: center;
}
.popup-image-text{
	color:white;
	display: flex;		
	font-size: 1.9em;
}
@media (max-width: 500px){
	.popup__content{padding:30px 15px;}
	.popup__close{	
	margin-top: -20px;
	margin-right: -5px;
	}
}




/*ring*/

.ring{	
	position:fixed;
	bottom:30px;
	left:180px;	
	z-index: 1;
}
@media (max-width: 1000px){
	.ring{left:160px;}
}
.img-circle{
	background-color:#e31f1b;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
.img-circle:hover{
	background-color:#e48a88;	
}
.circlephone{
	box-sizing:content-box;-webkit-box-sizing:content-box;
	border: 2px solid #e31f1b;
	width:150px;
	height:150px;
	bottom:-25px;
	right:10px;
	position:absolute;-webkit-border-radius:100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
	-moz-animation: circle-anim 2.4s infinite ease-in-out !important;
	-ms-animation: circle-anim 2.4s infinite ease-in-out !important;
	-o-animation: circle-anim 2.4s infinite ease-in-out !important;
	animation: circle-anim 2.4s infinite ease-in-out !important;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.circle-fill{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	background-color:#e31f1b;
	width:100px;
	height:100px;
	bottom:0px;
	right:35px;
	position:absolute;
	webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-o-animation: circle-fill-anim 2.3s infinite ease-in-out;
	animation: circle-fill-anim 2.3s infinite ease-in-out;
	-webkit-transition: all .5s;-moz-transition: all .5s;
	-o-transition: all .5s;transition: all 0.5s;
}
.img-circle{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	bottom: 14px;
	right: 49px;
	position:absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
}
.img-circleblock{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	width:72px;
	height:72px;
	background-image:url(../img/phone.png);
	background-position: center center;
	background-repeat:no-repeat;
	animation-name: tossing;
	-webkit-animation-name: tossing;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}


















