
.icon-benefit1:before { content: '\e800'; } /* '' */
.icon-benefit2:before { content: '\e801'; } /* '' */
.icon-benefit3:before { content: '\e802'; } /* '' */
.icon-benefit4:before { content: '\e803'; } /* '' */
.icon-card1:before { content: '\e804'; } /* '' */
.icon-card2:before { content: '\e805'; } /* '' */
.icon-card3:before { content: '\e806'; } /* '' */
.icon-dropdown:before { content: '\e807'; } /* '' */
.icon-e-mail:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-logo1:before { content: '\e80a'; } /* '' */
.icon-logo2:before { content: '\e80b'; } /* '' */
.icon-logo3:before { content: '\e80c'; } /* '' */
.icon-logo4:before { content: '\e80d'; } /* '' */
.icon-logo5:before { content: '\e80e'; } /* '' */
.icon-logo6:before { content: '\e80f'; } /* '' */
.icon-logo7:before { content: '\e810'; } /* '' */
.icon-logo8:before { content: '\e811'; } /* '' */
.icon-logo9:before { content: '\e812'; } /* '' */
.icon-logo10:before { content: '\e813'; } /* '' */
.icon-logo11:before { content: '\e814'; } /* '' */
.icon-logo12:before { content: '\e815'; } /* '' */
.icon-swipe:before { content: '\e816'; } /* '' */
.icon-telegram:before { content: '\e817'; } /* '' */
.icon-up:before { content: '\e818'; } /* '' */
.icon-wf1:before { content: '\e819'; } /* '' */
.icon-wf2:before { content: '\e81a'; } /* '' */
.icon-wf3:before { content: '\e81b'; } /* '' */
.icon-wf4:before { content: '\e81c'; } /* '' */
.icon-wf5:before { content: '\e81d'; } /* '' */
.icon-wf6:before { content: '\e81e'; } /* '' */
.icon-wf7:before { content: '\e81f'; } /* '' */
